# Hide everything in .venv, but re-include a few files/folders
.venv/**
!.venv/database.py
!.venv/models.py
!.venv/routers/**

# PyCharm files
.idea/
__pycache__/

# Windows files
*.tmp
*.log

desktop.ini

# Ignore environment variables file
.env

# Uploads directory from your screenshot
.tmp.driveupload/

# Any other files or folders you want to ignore